.forecast-table {
  height: 390px;
  display: flex;
  flex-direction: column;
  height: 345px;
}

.table-items {
  height: 262px;
  overflow: auto;
}

.table-items::-webkit-scrollbar {
  width: 8px;
}

.table-items::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.table-items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100px;
}

.locations-header {
  display: flex;
  padding-bottom: 7px;
  padding-left: 17px;
  font-size: 36px;
  line-height: 75px;
  font-weight: 600;
  height: 80px;
}
