.gender{
    border-radius: 20px;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.gender-form{
    display: flex;
    gap: 25px;
}
