/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-wrapper {
  width: 621px;
  height: 462px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 600px;
  height: 435px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10.5% 1fr;
  grid-template-areas: 's s' 'i a';
}
