*
  box-sizing: border-box
  padding: 0
  margin: 0
  font-family: 'Roboto', sans-serif

body
  min-height: 800px
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%)

.to-do
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%)
  border-radius: 7px
  padding: 25px
  margin: 50px auto 50px  auto
  width: 510px
  min-height: 100px
  background-color: rgb(255, 255, 255)
  &__priority:not(:last-child)
    margin-bottom: 25px
