.cities-list {
	list-style: none;
	padding: 28px 18px;
	margin: 0;
	height: 322px;
	overflow: auto;
}

.cities-list__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
	padding: 7px 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 20px;
}