.button {
    width: 27px;
    height: 20px;
    border-radius: 3px;
    margin-right: 3px;
    padding-bottom: 4px;
    border: 1px solid black;
    box-sizing: border-box;
}

.input {
    height: 20px;
    width: 120px;
    border-radius:3px;
    border: 1px solid black;
    box-sizing: border-box;
}

form {
    display: block;
    margin: 0 auto;
    margin-top: 300px;
    width: 150px;
}