.menu-button {
  font-size: 18px;
  width: 33.333%;
  height: 100%;
  background-color: #fff;
  border: none;
  border-right: 1px solid black;
  font-family: 'Titillium Web', sans-serif;
}
.menu-button:nth-child(3) {
  border-right: none;
}
.menu-button:hover {
  background-color: black;
  color: #fff;
}
